In [2]:
import numpy as np
import pandas as pd

In [3]:
fundamentals = pd.read_csv("fundamentals.csv")

In [4]:
fundamentals.head()

,Unnamed: 0,Ticker Symbol,Period Ending,Accounts Payable,Accounts Receivable,Add'l income/expense items,After Tax ROE,Capital Expenditures,Capital Surplus,Cash Ratio,...,Total Current Assets,Total Current Liabilities,Total Equity,Total Liabilities,Total Liabilities & Equity,Total Revenue,Treasury Stock,For Year,Earnings Per Share,Estimated Shares Outstanding
0,0,AAL,2012-12-31,3.068000e+09,-222000000.0,-1.961000e+09,23.0,-1.888000e+09,4.695000e+09,53.0,...,7.072000e+09,9.011000e+09,-7.987000e+09,2.489100e+10,1.690400e+10,2.485500e+10,-367000000.0,2012.0,-5.60,3.350000e+08
1,1,AAL,2013-12-31,4.975000e+09,-93000000.0,-2.723000e+09,67.0,-3.114000e+09,1.059200e+10,75.0,...,1.432300e+10,1.380600e+10,-2.731000e+09,4.500900e+10,4.227800e+10,2.674300e+10,0.0,2013.0,-11.25,1.630222e+08
2,2,AAL,2014-12-31,4.668000e+09,-160000000.0,-1.500000e+08,143.0,-5.311000e+09,1.513500e+10,60.0,...,1.175000e+10,1.340400e+10,2.021000e+09,4.120400e+10,4.322500e+10,4.265000e+10,0.0,2014.0,4.02,7.169154e+08
3,3,AAL,2015-12-31,5.102000e+09,352000000.0,-7.080000e+08,135.0,-6.151000e+09,1.159100e+10,51.0,...,9.985000e+09,1.360500e+10,5.635000e+09,4.278000e+10,4.841500e+10,4.099000e+10,0.0,2015.0,11.39,6.681299e+08
4,4,AAP,2012-12-29,2.409453e+09,-89482000.0,6.000000e+05,32.0,-2.711820e+08,5.202150e+08,23.0,...,3.184200e+09,2.559638e+09,1.210694e+09,3.403120e+09,4.613814e+09,6.205003e+09,-27095000.0,2012.0,5.29,7.328355e+07

In [5]:
import sklearn
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.model_selection import train_test_split
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

In [6]:
from sklearn.ensemble import RandomForestRegressor

In [7]:
apple = pd.read_csv("HistoricalQuotes.csv")

In [8]:
apple.head()

         date    close         volume     open     high     low
0       11:50  175.247     11,141,417  175.120  176.095  174.80
1  2017/11/08  176.240  24358920.0000  174.660  176.240  174.33
2  2017/11/07  174.810  24332120.0000  173.910  175.250  173.60
3  2017/11/06  174.250  34770480.0000  172.365  174.990  171.72
4  2017/11/03  172.500  59332210.0000  174.000  174.260  171.12

In [9]:
dow = pd.read_csv("^DJI.csv")
dow.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-11-09,12811.169922,12890.190430,12743.389648,12815.389648,12815.389648,131670000
1,2012-11-12,12815.929688,12861.280273,12783.000000,12815.080078,12815.080078,62360000
2,2012-11-13,12808.709961,12898.250000,12748.509766,12756.179688,12756.179688,142200000
3,2012-11-14,12746.540039,12797.730469,12542.679688,12570.950195,12570.950195,162180000
4,2012-11-15,12571.099609,12600.589844,12496.559570,12542.379883,12542.379883,129150000

In [10]:
sp = pd.read_csv("^GSPC.csv")
sp.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-11-09,1377.550049,1391.390015,1373.030029,1379.849976,1379.849976,3647350000
1,2012-11-12,1379.859985,1384.869995,1377.189941,1380.030029,1380.030029,2567540000
2,2012-11-13,1380.030029,1388.810059,1371.390015,1374.530029,1374.530029,3455550000
3,2012-11-14,1374.640015,1380.130005,1352.500000,1355.489990,1355.489990,4109510000
4,2012-11-15,1355.410034,1360.619995,1348.050049,1353.329956,1353.329956,3928870000

In [11]:
russ = pd.read_csv("^RUT.csv")
russ.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2012-11-09,793.619995,800.719971,789.250000,795.020020,795.020020,36473500
1,2012-11-12,796.979980,797.729980,792.900024,793.760010,793.760010,25675400
2,2012-11-13,792.210022,795.969971,788.770020,789.010010,789.010010,34555500
3,2012-11-14,791.349976,792.099976,772.429993,773.200012,773.200012,41095100
4,2012-11-15,772.469971,775.080017,765.030029,769.479980,769.479980,39288700

In [12]:
fundamentals = pd.read_csv("fundamentals.csv")

In [28]:
from sklearn.ensemble import RandomForestRegressor
fundamentals['RANDOM'] = np.random.rand(len(fundamentals))*100

y = fundamentals['Earnings Per Share']
x = fundamentals.drop('Earnings Per Share', axis = 1)

In [27]:
forest = RandomForestRegressor(n_estimators = 100)
forest.fit(x,y)

ValueError: could not convert string to float: '2016-12-31'

In [22]:
dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m-%d')
fundamentals = pd.read_csv("fundamentals.csv", index_col = "Period Ending",  date_parser = dateparse)
fundamentals.index

DatetimeIndex(['2012-12-31', '2013-12-31', '2014-12-31', '2015-12-31',
               '2012-12-29', '2013-12-28', '2015-01-03', '2016-01-02',
               '2013-09-28', '2014-09-27',
               ...
               '2014-12-31', '2015-12-31', '2012-12-31', '2013-12-31',
               '2014-12-31', '2015-12-31', '2013-12-31', '2014-12-31',
               '2015-12-31', '2016-12-31'],
              dtype='datetime64[ns]', name='Period Ending', length=1781, freq=None)

In [25]:
import matplotlib.pylab as plt
plt.plot(fundamentals)

ValueError: could not convert string to float: 'ZTS'